.*/

# temp
Single-Layer-FSW
/ACMDM_outputs
/article
/Arnon5
/A-1D-Optimization
/femm_files
/DataFolder*

# saved python object data file
__*.json

#
*.tex
/*#*
/_*
/backup*
/PMSM_*
/IM_*
/pop
/pso
/release
/txt_collected
*HORY-Y730*
*.bat
*.csv
*.dmp
*.xls
*.xlsx
*.log
*.lnk
*.png
*.pyc
*.sublime*
*.txt
*.pdf
*.aux
*.dvi
*.eps
*.synctex*
*.svg
*.zip
*.7z
*.html
*.lnk
